<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <title>{{ page.title }}</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="description" content="Research Lab, Home, University at Buffalo">
   <meta name="author" content="">
   <meta name="keywords" content="wireless systems, UB, robotics, SLAM, localization">
</head>
<body>
   <!-- Include the header -->
   {% include header.html %}

   <!-- Page Content -->
   <main class="container">
      {{ content }}
   </main>

   <!-- Include the footer -->
   {% include footer.html %}

</body>
</html>
