# Workflow for deploying Jekyll site to GitHub Pages
name: Deploy Jekyll site to Pages

on:
  push:
    branches: ["main"]  # Runs on pushes to the main branch
  workflow_dispatch:  # Allows manual runs

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout the repository
      uses: actions/checkout@v4

    - name: Set up Ruby environment
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3.0'  # Use Ruby 3.0 for better compatibility
        bundler-cache: true   # Caches installed gems automatically

    - name: Update Rubygems
      run: |
        gem update --system  # This will update rubygems to the latest version
        gem install bundler  # Ensures Bundler is also installed with the latest version

    - name: Install dependencies
      run: bundle install

    - name: Setup Pages
      id: pages
      uses: actions/configure-pages@v5

    - name: Build the Jekyll site
      run: bundle exec jekyll build --baseurl "${{ steps.pages.outputs.base_path }}"
      env:
        JEKYLL_ENV: production

    - name: Upload site to Pages artifact storage
      uses: actions/upload-pages-artifact@v3

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
    - name: Deploy to GitHub Pages
      id: deployment
      uses: actions/deploy-pages@v4

